*{
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
}

body{
  margin: 30px 80px;
  background-color: rgb(237, 222, 250);
}

header{
  margin: 60px 85px 130px 85px;
  font-size: 60px;
  font-style: italic;
  color: #ffa3a6;
  line-height: 25px;
  letter-spacing: 50px;
}

header #sara{
  text-align: left;
}

header #ssori{
  text-align: right;
}

.menu{
  position: relative;
}

#git_img{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#git_img img{
  width: 80px;
  height: 80px;
}

.list-item{
  background-color: #ffa3a6;
  border-radius: 15%;
  width: 200px;
  height: 200px;
}

.list1{
  position: absolute;
  top: 50px;
  left: 10%;
}

.list2{
  position: absolute;
  top: 50px;
  left: 30%;
}

.list3{
  position: absolute;
  top: 50px;
  left: 50%;
}

.list4{
  position: absolute;
  top: 50px;
  left: 70%;
}

.logo{
  width: 70px;
  height: 70px;
  margin: 30px 65px;
}

.list-item h3{
  text-align: center;
  color: white;
  font-size: 20px;
}

