*{
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  margin: 0;
}

header{
  display: grid;
  position: relative;
  text-align: center;
  font-size: 25px;
}

.title{
  display: flex;
  position: fixed;
  left: 15%;
  right: 0;
  top: 0;
  justify-content: center;
  background: radial-gradient(circle, rgba(136,149,251,0.6279761904761905) 0%, rgba(99,114,226,0.6783963585434174) 25%, rgba(59,73,180,0.6896008403361344) 50%, rgba(30,44,149,0.8884803921568627) 75%, rgba(19,31,128,1) 100%);
  color: white;
  padding: 50px 50px;
}

.icon{
  width: 150px;
  height: 150px;
  position: fixed;
  top: 15px;
}

.menu{
  display: grid;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 12, 102, 100%);
  width: 250px;
  padding: 16px;
}

.menu-list{
  list-style: none;
  margin-top: 200px;
}

.list-item{
  color: white;
  font-size: 20px;
  margin-bottom: 48px;
}